i.icon {
    font-size: 2em;
}

.container.main {
    margin-top: 7em;
    margin-bottom: 20px;
}

.steam {
    color: black;
}


a.ui.green.basic.button {
    background: black;
    background-color: greenyellow;
    color: black;
    float: right;
}
